################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServicesDependency/v15
/ServicesDependency.sln.DotSettings.user
/packages
/obj/Debug
/obj
/.vs
/ServiceDependency.csproj.user
/bin
/NugetsDependency.csproj.user
/src/obj/Debug/net8.0-windows
/src/bin/Debug/net8.0-windows
/src/obj
/src/NugetsDependency.CLI/obj
/src/NugetsDependency.CLI/bin/Debug/net8.0-windows/win-x64
/src/NugetsDependency.Winforms/bin/Debug/net8.0-windows/NugetDependency.dll
/src/NugetsDependency.Winforms/bin/Debug/net8.0-windows/NugetDependency.exe
/src/NugetsDependency.Winforms/bin/Debug/net8.0-windows/NugetDependency.pdb
/src/NugetsDependency.Winforms/bin/Debug/net8.0-windows/NugetDependency.runtimeconfig.json
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/apphost.exe
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/NugetDependency.dll
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/NugetDependency.pdb
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/NugetsDependency.assets.cache
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/NugetsDependency.csproj.AssemblyReference.cache
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/NugetsDependency.csproj.CoreCompileInputs.cache
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/NugetsDependency.csproj.GenerateResource.cache
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/NugetsDependency.GeneratedMSBuildEditorConfig.editorconfig
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/NugetsDependency.genruntimeconfig.cache
/src/NugetsDependency.Winforms/obj/Debug/net8.0-windows/NugetsDependency.sourcelink.json
/src/NugetsDependency.Winforms/obj/NugetsDependency.csproj.nuget.dgspec.json
/src/NugetsDependency.Winforms/obj/NugetsDependency.csproj.nuget.g.props
/src/NugetsDependency.Winforms/obj/project.assets.json
/src/NugetsDependency.Winforms/obj/project.nuget.cache
/src/NugetsDependency.CLI/bin/Debug/net9.0-windows/win-x64
/src/NugetsDependency.Winforms/bin/Debug/net9.0-windows
/src/NugetsDependency.Winforms/obj/Debug/net9.0-windows
