################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServicesDependency/v15
/ServicesDependency.sln.DotSettings.user
/packages
/obj/Debug
/obj
/.vs
/ServiceDependency.csproj.user
/bin
/NugetsDependency.csproj.user
/src/obj/Debug/net8.0-windows
/src/bin/Debug/net8.0-windows
/src/obj
